@font-face {
  font-family: "Batmfa";
  src: url(../font/batmfa__.ttf);
}

@font-face {
  font-family: "CreatoDisplay-Light";
  src: url(../font/CreatoDisplay-Light.otf);
}

@font-face {
  font-family: "CreatoDisplay-Black";
  src: url(../font/CreatoDisplay-Black.otf);
}